body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
}

input {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 50%;
    margin: auto;
}

li {
    padding: 10px;
    margin: 5px;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

li button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
